.TodoForm {

} 

.TodoForm button {
    background: blue;
    color: white;
    padding: 15px;
    text-decoration: none;
    box-shadow: 2px 2px 2px gray;
    min-width: 100px;
    margin: 10px;
    text-align: center;
}